<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
        <div class="container">
          <%= link_to "KlyApp", 'http://localhost:3000', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "主页",    '#' %></li>
              <li><%= link_to "帮助",    '#' %></li>
              <li><%= link_to "登录", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>	
</header>